{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
	  </div>
      <h1>{{ heading_title }}</h1>
	  <ul class="breadcrumb">
	    {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
	{% if error_warning %}
	<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	{% endif %}
	{% if success %}
	<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ text_success }}
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	{% endif %}
	<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
	  <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-monero" class="form-horizontal">
		  <input type="hidden" name="action" value="save">
			 <h3 class="col-sm-10 col-sm-offset-2">{{ text_general }}</h3>
			 <div class="form-group">
             <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
             <div class="col-sm-10">
               <select name="payment_monero_status" id="input-status" class="form-control">
			     {% if payment_monero_status %}
				 <option value="1" selected="selected">{{ text_enabled }}</option>
                 <option value="0">{{ text_disabled }}</option>
			     {% else %}
				 <option value="1">{{ text_enabled }}</option>
                 <option value="0" selected="selected">{{ text_disabled }}</option>
			     {% endif %}
               </select>
			   {% if error_status %}
			   <div class="text-danger">{{ error_status }}</div>
			   {% endif %}
			 </div>
			 </div>
			 <div class="form-group">
                	   <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                	   <div class="col-sm-10">
                  	    <div class="input-group"> <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i></span>
                     	      <select name="payment_monero_geo_zone_id" id="input-geo-zone" class="form-control">
			              <option value="0">{{ text_all_zones }}</option>
			              {% for geo_zone in geo_zones %}
			              {% if geo_zone.geo_zone_id == payment_monero_geo_zone_id %}
			              <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
			              {% else %}
			              <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
			              {% endif %}
			              {% endfor %}                                      
                    	      </select>
                  	    </div>
                	  </div>
              	 	 </div>
			 <div class="form-group">
			 <label class="col-sm-2 control-label" for="input-monero-address"><span data-toggle="tooltip" title="{{ help_monero_address }}">{{ entry_monero_address }}</span></label>
			 <div class="col-sm-10">
			   <div class="input-group"> <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
			   <input type="text" name="payment_monero_address" id="input-monero-address" value="{{ payment_monero_address }}" placeholder="{{ entry_monero_address }}" class="form-control" />
			   </div>
			 </div>
			 </div>
			 <div class="form-group">
			 <label class="col-sm-2 control-label" for="input-monero-wallet-host"><span data-toggle="tooltip" title="{{ help_monero_wallet_host }}">{{ entry_monero_wallet_host }}</span></label>
			 <div class="col-sm-10">
			   <div class="input-group"> <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
			   <input type="text" name="payment_monero_wallet_rpc_host" id="input-monero-wallet-host" value="{{ payment_monero_wallet_rpc_host }}" placeholder="{{ entry_monero_wallet_rpc_host }}" class="form-control" />
			   </div>
			 </div>
			 </div>
			 <div class="form-group">
			 <label class="col-sm-2 control-label" for="input-monero-wallet-port"><span data-toggle="tooltip" title="{{ help_monero_wallet_port }}">{{ entry_monero_wallet_port }}</span></label>
			 <div class="col-sm-10">
			   <div class="input-group"> <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
			   <input type="text" name="payment_monero_wallet_rpc_port" id="input-monero-wallet-port" value="{{ payment_monero_wallet_rpc_port }}" placeholder="{{ entry_monero_wallet_port }}" class="form-control" />
			   </div>
			 </div>			 
			 </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}